@import '../assets/scss/variables';

.aboutMe {
    width: 100%;
    min-height: calc(100vh - 100px);
    padding: 0 100px;
    background-color: transparent;
}

.aboutMe-container {
    padding-top: 100px;
    padding-bottom: 60px;
    display: flex;
}

.about-leftSide {
    width: 70%;
    padding-right: 18px;
}

.about-rightSide {
    width: 30%;
    min-width: 300px;
    min-height: 400px;
    display: flex;
    justify-content: center;
    > figure {
        min-width: 300px;
        min-height: 400px;
        margin: 0;
    }
}

.aboutMe-title {
    margin: 0 0 50px 0;
    @include titles($title-font, 2rem, 1px, $text-color);
    > span {
        color: $red-color;
    }
}

.aboutMe-text, .about-link {
    font-family: $text-font;
    color: $text-color;
}

.about-link {
    text-decoration: none;
    > span {color: $red-color;}
}

.profile-img {
    width: 100%;
    min-width: 300px;
    min-height: 404px;
    border-radius: 3px;
}

@media all and (max-width: 1310px){
    .aboutMe {
        padding: 0 80px;
    }
}

@media all and (max-width: 768px){
    .aboutMe {
        padding: 0 50px;
    }
}

@media all and (max-width: 624px){
    .aboutMe {
        padding: 0 25px;
    }

    .aboutMe-title {
        font-size: 1.8rem;
    }

    .aboutMe-container {
        padding-top: 50px;
        flex-direction: column;
    }

    .about-leftSide {
        width: 100%;
        margin-bottom: 20px;
        padding: 0;
    }

    .about-rightSide {
        width: 100%;
    }
}