@import '../assets/scss/variables';

.home {
    width: 100%;
    height: calc(100vh - 100px);
    padding: 0 100px;
    display: flex;
    justify-content: center;
}

.home-container {
    padding-top: 140px;
}

.hero-title {
    @include titles($title-font, 4rem, .1rem, $text-color);
    > span {
        color: $red-color;
    }
}

.hero-subtitle {
    @include titles($title-font, 2.5rem, default, $text-color);
    > span {
        color: $red-color;
    }
}